@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: theme("colors.primaryLight");
  font-family: theme("fontFamily.header"); */
}

@layer utilities {
  /* Mettre ici les class personnalisées comme dans du CSS classique */
}
